:root {
	box-sizing: border-box;

	/* global colors  */
	--background: #121212;
	--accent: #7c7c7c;
	--background-alt: #3f3f3f;
	--foreground: #cfcfcf;

	/* friendly global style definitions :) */
	font-family: Roboto, sans-serif;
	color: var(--foreground);
	font-size: 62.5%;
}

*, *::before, *::after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

.container {
	height: 100svh;
	display: grid;
	grid-template-columns: 1fr 4fr;
}

.sidebar {
	display: grid;
	grid-template-rows: auto auto auto 1fr;
	background: var(--background-alt);
	height: 100%;
}

.sidebar > div {
	padding: 25px;
}

.sidebar .dashboard {
	display: grid;
	gap: 10px;
	grid-template-columns: 40px 1fr;
	font-size: 1.8rem;
	align-items: center;
}

.sidebar .dashboard img {
	width: 35px;
	justify-self: center;
}

.sidebar .nav-options,
.sidebar .user-options {
	display: grid;
	align-items: center;
	gap: 20px;
	font-size: 1.6rem;
}

.sidebar .nav-options > div,
.sidebar .user-options > div {
	display: grid;
	grid-template-columns: 40px 1fr;
}

.sidebar .nav-options img,
.sidebar .user-options img {
	justify-self: center;
}

.header {
	background: var(--accent);
}
