:root {
	box-sizing: border-box;

	/* global colors  */
	--main: #121212;
	--accent: #505050;
	--main-alt: #3f3f3f;
	--alt: #cfcfcf;

	/* extra vars */
	--semi-bold: 500;

	/* friendly global style definitions :) */
	font-family: Roboto, sans-serif;
	color: var(--alt);
	font-size: 62.5%;
}

*, *::before, *::after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
	border: none;
}

.container {
	height: 100svh;
	display: grid;
	grid-template-columns: 1fr 4fr;
	font-size: 1.6rem;
}

.sidebar {
	display: grid;
	grid-template-rows: auto auto auto 1fr;
	background: var(--main-alt);
	height: 100%;
	z-index: 2;
}

.sidebar > div {
	padding: 25px;
}

.sidebar .dashboard {
	display: grid;
	gap: 10px;
	grid-template-columns: 40px 1fr;
	font-size: 2rem;
	font-weight: var(--semi-bold);
	align-items: center;
}

.sidebar .dashboard img {
	width: 35px;
	justify-self: center;
}

.sidebar .nav-options,
.sidebar .user-options {
	display: grid;
	align-items: center;
	gap: 20px;
}

.sidebar .nav-options > div,
.sidebar .user-options > div {
	display: grid;
	grid-template-columns: 40px 1fr;
}

.sidebar .nav-options img,
.sidebar .user-options img {
	justify-self: center;
}

.header {
	background: var(--accent);
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 2fr 3fr;
	row-gap: 25px;
	column-gap: 20px;
	padding: 25px 40px;
	z-index: 1;
	box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.8);
}

.header > div:first-child {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: 10px;
}

.header > div:first-child input {
	height: 30px;
	border-radius: 20px;
	padding-left: 20px;
}

.header > div:nth-child(2) {
	display: grid;
	grid-template-columns: 1fr auto auto auto;
	column-gap: 20px;
	justify-items: right;
	align-items: center;
}

.header > div:nth-child(3) {
	display: grid;
	grid-template-columns: auto auto 1fr;
	grid-template-rows: auto 1fr;
}

.header > div:nth-child(3) img {
	margin: auto 10px;
	height: 50px;
	grid-row: 1 / span 2;
}

.header > div:nth-child(3) p:first-of-type {
	font-size: 1.4rem;
}

.header > div:nth-child(3) p:nth-of-type(2) {
	grid-row-start: 2;
	font-size: 2rem;
	font-weight: var(--semi-bold);
}

.header > div:last-child {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 20px;
	align-items: end;
}

.header > div:last-child button {
	height: 75%;
	border-radius: 20px;
	padding: 20px auto;
	font-weight: bold;
	cursor: pointer;
}

.main {
	color: var(--main-alt);
	display: grid;
	grid-template-columns: 2fr 1fr;
	padding: 35px;
}

.main > div:first-child {
	display: flex;
	flex-direction: column;
}


.main > div > p {
	font-weight: bold;
	font-size: 2rem;
}

.main .main-grid {
	flex-grow: 1;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, minmax(auto, 1fr));
	row-gap: 35px;
	margin: 10px auto;
	column-gap: 35px;
}

.main .main-grid > div {
	border-left: 3px solid var(--main-alt);
	display: grid;
	grid-template-rows: auto 1fr auto;
	padding: 20px;
	box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.4);
	border-radius: 8px;
}

.main .main-grid > div > div:last-child {
	padding-top: 20px;
	justify-self: end;
	display: flex;
	gap: 20px;
}

.main .main-grid > div > p:first-child {
	font-weight: bold;
}

.main .main-grid > div > p:nth-child(2) {
	align-self: start;
}

.aside {
	display: grid;
	grid-template-rows: repeat(minmax(auto, 1fr));
	margin-left: 35px;
	gap: 30px;
	height: 100%;
}

.aside > div > p {
	font-weight: bold;
	font-size: 2rem;
}

.aside > div > div {
	margin: 10px auto;
	padding: 20px;
	box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.4);
	border-radius: 8px;
	display: grid;
	row-gap: 20px;
}

.aside .announcement p:first-child {
	font-weight: bold;
}

hr {
	width: 80%;
	border: 0.5px solid rgba(0, 0, 0, 0.1);
	justify-self: center;
}

.trending-project {
	display: grid;
	grid-template-rows: auto auto 1fr;
	grid-template-columns: auto 1fr;
	column-gap: 20px;
	align-content: center;
}

.trending-project div:first-child {
	grid-row: 1 / span 2;
	background: var(--accent);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--alt);
}

.trending-project div:nth-child(2) {
	grid-column: 2;
	grid-row-start: 1
}

.trending-project div:last-child {
	grid-column: 2;
	grid-row-start: 2;
}
